*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --text-color:hsl(240, 6%, 21%);
    --bg-button:hsl(240, 9%, 89%);
    --text-button:hsl(240, 6%, 21%);
    --bg-button-selected:hsl(194, 97%, 31%);
    --text-button-selected: hsl(0, 0%, 100%)
}

main{
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;

    min-width: 36rem;
    padding: 2rem;

    margin: 0 auto;

}


.timer-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;

    color: var(--text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 12rem;
    font-weight: 500;

    height: 33.6rem;
}

#controls{
    display: flex;
    flex-direction: row;
    gap:4rem;

    width: 31.2rem;
}

#controls button{
    font-size: 4.8rem;
    border: none;
    background: none;

    cursor:pointer;
}

#songs-control{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "A B"
    "C D";
    gap:3.2rem;
    max-width: 30.8rem;
    height: 33.6rem;
}

#songs-control button{
    width: 13.8rem;
    height: 15.2rem; 
    
    font-size: 6rem;
    cursor: pointer;

    border:none;
    border-radius: 24px;

    transition: background 600ms;

}

#songs-control button:hover{
    background-color:var(--bg-button-selected);
    color:var(--text-button-selected);
}

.music-on{
    background-color:var(--bg-button-selected);
    color:var(--text-button-selected);
}

.music-off{
    background-color: var(--bg-button);
    color: var(--text-button);
}

.sr-only{
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;

    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}

.running .ph-play-circle,
.running .ph-timer, 
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle{
    display: none;
}


@media (min-width:800px) {
    main{
        grid-template-areas: "A B";
        justify-content: space-between;
        height: 100vh;
        max-width: 82.1rem;
        padding: 0;
    }
}